* {
  margin:0;
  padding:0;
}

div#header {
  margin:0 auto;
  width:800px;
  border:0;
  height:65px;
  background-color:#F1F1F1;
  color:#0066CC;
  text-align:center;
  /*text-indent:10px;*/
  margin-bottom:10px;
}

div#page {
  width:800px;
  margin:10px;
  margin:0 auto;
  border-style:none;
}

div#menu {
  width:150px;
  margin:0 auto;
  float:left;
  height:auto!important;
  min-height:800px;
}

div#main {
  width:650px;
  margin:0 auto;
  float:left;
  height:auto!important;
  min-height:800px;
}

div#footer {
  width:800px;
  border:0;
  text-align:center;
  float:left;
}

body {
  font-family: \5FAE\8F6F\96C5\9ED1;
}

p {
  line-height: 180%;
}

a:link {
  color:#4169E1;
  font-weight:bold;
  text-decoration: none;
}

a:visited {
  color:#4169E1;
  font-weight:bold;
  text-decoration: none;
}

a:hover {
  color:#FF4500;
  text-decoration:underline;
}

h1 {
  font-size:45px;
}

ul {
  margin:0;
}

li {
  list-style:none;
  font-size:20px;
}

input.push {
  padding:5px;
  width:60px;
  margin:5px;
}
