* {
  margin:0;
  padding:0;
}

div#header {
  height:50px;
  background-color:#F1F1F1;
  color:#0066CC;
  border-style:none;
  text-align:center;
  /*text-indent:10px;*/
  margin-bottom:10px;
}

div#text {
  width:800px;
  margin:0 auto;
  height:auto!important;
  min-height:800px;
}

div#footer {
  text-align:center;
  background-color:#F1F1F1;
}

body {
  font-family: \5FAE\8F6F\96C5\9ED1;
}

p {
  line-height: 180%;
}

a:link {
  color:#4169E1;
  font-weight:bold;
  text-decoration: none;
}

a:visited {
  color:#4169E1;
  font-weight:bold;
  text-decoration: none;
}

a:hover {
  color:#FF4500;
  text-decoration:underline;
}


ul {
  margin:0;
}

li {
  list-style:none;
  font-size:25px;
}

